################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/projectfiles/visualstudio-2019/enc_temp_folder
projectfiles/visualstudio-2015/m68kmake.exe
projectfiles/visualstudio-2015/m68kmake.obj
projectfiles/visualstudio-2015/fba_vs2015.VC.db
projectfiles/visualstudio-2015/fba_vs2015.VC.VC.opendb
