################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/projectfiles/visualstudio-2019/enc_temp_folder
.DS_Store
obj/
._*
gamelist.txt
src/dep/generated/
fbneo
roms
joyconfig
fbneo.ini
