
QWidget, QDialog
{
    background: url(:resource/dark-flat-bg.png);
    color: #EFF0EF;
}

QHeaderView::section
{
    border: none;
    border-top: 0.5px solid #686868;
    border-bottom: 0.5px solid #0f0f0f;
    padding-left: 4px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #4a4a4a,
                                 stop: 1.0 #2b2b2b );
}

QPushButton
{
    border: 0.5px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #686868 );
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0 #4a4a4a,
                        stop: 1.0 #2b2b2b );
}

QPushButton:hover
{
    border: 0.5px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #686868 );
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0 #8c8c8c,
                        stop: 1.0 #515152 );
}

QPushButton:focus
{
    outline: 0;
    border: 0.5px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #2e65a9 );
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0 #4282e5,
                        stop: 1.0 #142dd8 );
}

QPushButton#btnPlay
{
    outline: 0;
    border: 0.5px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #652ea9 );
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0 #8242e5,
                        stop: 1.0 #2d14d8 );
}

QPushButton#btnPlay:hover
{
    border: 0.5px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #686868 );
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0 #8242e5,
                        stop: 1.0 #2da4d8 );
}

QLineEdit, QTextEdit, QSpinBox
{
    background: #1f1f1f;
    border: 1px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #1f1f1f );
}

QTreeWidget
{
    background: #1f1f1f;
    border: 1px solid #0f0f0f;
    alternate-background-color: #1d1d1d;
}


QTreeWidget:item:selected, QTreeView::branch:selected
{
    outline: 0;
    border: none;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0 #4282e5,
                        stop: 1.0 #142dd8 );
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(:resource/vline.png) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(:resource/branch-more.png) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(:resource/branch-end.png) 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(:resource/branch-closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(:resource/branch-open.png);
}

QMenuBar
{
    background: url(:resource/dark-flat-bg.png);
    border: 1px solid #0f0f0f;
    color: white;
}


QMenuBar:item
{
    background: transparent;
}

QMenuBar:item:pressed
{
    color: white;

    outline: 0;
    border: 0.5px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #2e65a9 );
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0 #4282e5,
                        stop: 1.0 #142dd8 );
}

QMenu
{
    background: url(:resource/dark-flat-bg.png);
    border: 1px solid #0f0f0f;
    color: white;
    /*padding: 2px;
    padding-left: 8px;
    padding-right: 8px;*/
}

QMenu::item::selected
{

    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0 #4282e5,
                        stop: 1.0 #142dd8 );
}

QMenu::separator
{
    width: 100%;
    height: 1px;
    margin-left: 5%;
    margin-right: 5%;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #686868 );
}

QLabel#imgTitleScreen, QLabel#imgPreview
{
    border: 1px solid #0f0f0f;
}

QToolTip
{
    border: 1px solid black;
    background-color: #FFFF99;
    border-radius: 2px;
    padding: 0px;
    color: black;
}

QComboBox
{
    border: 0.5px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #686868 );

    padding-left: 4px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                             stop: 0 #4a4a4a,
                             stop: 1.0 #2b2b2b );
}

QComboBox::drop-down
{
    border: none;
    padding: 3px;
}

QComboBox  QAbstractItemView
{
    background-color: #1f1f1f;
    border: 1px solid #0f0f0f;
}


QComboBox::down-arrow
{
    image: url(:resource/down_arrow.png);
}

QGroupBox
{
    spacing: 5px;
    padding-top: 20px;
    background: #1f1f1f;
    border: 1px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #1f1f1f );
}

QCheckBox
{
    outline: 0;
    background: none;
    width: 13px;
    height: 13px;
}

QCheckBox::indicator
{
    width: 16px;
    height: 16px;
    background: #2f2f2f;
    border: 1px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #1f1f1f );
}

QCheckBox::indicator:hover
{
    width: 16px;
    height: 16px;
    background: #3f3f3f;
    border: 1px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #1f1f1f );
}

QCheckBox::indicator:checked
{
    width: 16px;
    height: 16px;
    background-image: url(:resource/checked.png);
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #1f1f1f );
}


/*****************/
QScrollBar:horizontal {
    border: 1px solid #222222;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    height: 16px;
    margin: 0px 20px 0 20px;
}

QScrollBar::handle:horizontal
{
    background: QLinearGradient( x1:0 y1:1, x2:0 y2:0, stop:0 #676767, stop:0.5 #878787, stop:0.51 #979797, stop:1 #a7a7a7);
    border-radius: 1px;
    min-width: 16px;
    border: 1px solid #202020;
}

QScrollBar::add-line:horizontal {
    border: 1px solid #1b1b19;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: 1px solid #1b1b19;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::right-arrow:horizontal
{
    background-image: url(:resource/right_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

QScrollBar::left-arrow:horizontal
{
    background-image: url(:resource/left_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}

/*****************************/
QScrollBar:vertical
{
    background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    width: 16px;
    margin: 20px 0 20px 0;
    border: 1px solid #222222;
}

QScrollBar::handle:vertical
{
    background: QLinearGradient( x1:1 y1:0, x2:0 y2:0, stop:0 #676767, stop:0.5 #878787, stop:0.51 #979797, stop:1 #a7a7a7);
    border-radius: 1px;
    min-height: 16px;
    border: 1px solid #202020;
}

QScrollBar::add-line:vertical
{
    border: 1px solid #1b1b19;
    background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
    border: 1px solid #1b1b19;
    background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical
{
    background-image: url(:resource/up_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

QScrollBar::down-arrow:vertical
{
    background-image: url(:resource/down_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

QTabWidget::pane
{
    outline: 0;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #686868 );
}

QTabBar
{
    outline: 0;
}

QTabBar::tab
{
    border: 0.5px solid #0f0f0f;
    border-top: 2px solid
                    qlineargradient(
                     x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0.0 #0f0f0f,
                    stop: 1.0 #686868 );
    border-bottom: none;
    padding-left: 3px;
    padding-right: 3px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                             stop: 0 #4a4a4a,
                             stop: 1.0 #2b2b2b );
    color: white;
}

QTabBar::tab::selected
{
    border: 0.5px solid #0f0f0f;
    border-top: 2px solid
                qlineargradient(
                        x1: 0, y1: 0, x2: 0, y2: 1,
                        stop: 0.0 #0f0f0f,
                        stop: 1.0 #686868 );
    border-bottom: none;
    padding-left: 3px;
    padding-right: 3px;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0 #8c8c8c,
                    stop: 1.0 #515152 );
    color: white;
}

QProgressBar
{
    background: #1f1f1f;
    border: 1px solid #0f0f0f;
    text-align: center;
    color: white;
}

QProgressBar::chunk
{
border-top: 2px solid
            qlineargradient(
                    x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0.0 #0f0f0f,
                    stop: 1.0 #686868 );
background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                    stop: 0 #8242e5,
                    stop: 1.0 #2da4d8 );
    width: 1px;
}
