name: Build

on: [push, pull_request]

jobs:
  AutoBuild:
    name: ${{ matrix.platform.name }} ${{ matrix.config.name }}
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell}} {0}

    strategy:
      matrix:
        platform:
        - { name: Windows x32,   os: windows-2019, shell: msys2, makeopts: mingw510 USE_UCRT=1, arch: i686, msys: MINGW32 }
        - { name: Linux SDL 2,   os: ubuntu-20.04, shell: bash,  makeopts: sdl2}
        - { name: Linux SDL 1.2, os: ubuntu-20.04, shell: bash,  makeopts: sdl}
        #- { name: MacOS XCode, os: macos-latest }

    steps:
    - name: Install Windows MSYS2 dependencies
      if: runner.os == 'Windows'
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: msys2-devel base-devel binutils mingw-w64-${{ matrix.platform.arch }}-toolchain mingw-w64-${{ matrix.platform.arch }}-nasm
        msystem: ${{matrix.platform.msys}}

    - name: Install Linux dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get -y update
        sudo apt-get -y install libsdl2-dev libsdl2-image-dev libsdl1.2-dev

    - uses: actions/checkout@v2

    - name: Build FBNeo
      run: |
        make -j$(nproc) RELEASEBUILD=1 SKIPDEPEND=1 ${{matrix.platform.makeopts}}

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: ${{matrix.platform.name}} Artifact
        path: |
          fbneo.exe
          fbneo
